* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;


}

body {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.main {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:100%;
    height:60vh;

    button {

        padding:20px;
        background: transparent;
        border:none;

        svg:hover {

            transition: 0.5s ease;
            transform:scale(1.05);
            margin:0 0 20px 0;

        }

    }

    p {

        padding:10px;

    }

}

#title {

font-size: 30px;
margin:30px;

}

#winText {

    font-size:30px;
    text-align: center;
    margin:30px;

}

#reload {

    padding:10px;
    background: transparent;
    border:0;

    svg:hover {

        transform: rotate(360deg);
        transition: 1s ease;

    }

}

#darkMode {

    border:0;
    background: transparent;
    padding:20px;
    margin-left:auto;
}

.dark-mode {

    background-color: black;
    color:white;
    fill:white;

}