* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;


}

body {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.main {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:100vh;
    height:100vh;

    button {

        padding:20px;
        margin:10px;

    }

    p {

        padding:10px;

    }

}

#title {

font-size: 30px;
margin:30px;

}

#winText {

    font-size:30px;
    text-align: center;
    margin:30px;

}

#reload {

    padding:10px;

}